#calendar-container {
}

#external-events {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 200px;
    height: 350px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
}

.events-list {
    height: 300px;
    overflow: auto;
}

.external-event-title > p {
    color: #212529;
    text-align: center;
    font-size: larger;
}

.draggable-element {
    margin: 1em 0;
    cursor: move;
    border: 1px solid #ccc;
    background: #3788d8;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.fc-day-grid-event > .fc-title {
    color: white;
}