#calendar-container {
     display: flex;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 2em;
}
 .instructions {
     color: #212529;
}
 #calendar-sidebar {
     position: relative;
     margin-right: 20px;
}
 #calendar-sidebar-right {
     position: relative;
     margin-left: 20px;
     display: none;
}
 #restriction-warning-container {
     position: relative;
     top: 15%;
     min-width: 150px;
     min-height: 50px;
     display: none;
     padding: 0 5px;
     border: 1px solid #ccc;
     background: rgba(255, 0, 0, 0.20);
}
 #external-events{
     position: relative;
     top: 9%;
     width: 200px;
     min-height: 300px;
     padding: 0 10px;
     border: 1px solid #ccc;
     background: #ededed;
     color: #fff;
     border-radius: 2px;
     font-size: 14px;
}
 #day-info {
     position: relative;
     top: 9%;
     width: 200px;
     min-height: 300px;
     padding: 0 10px;
     border: 1px solid #ccc;
     background: #ededed;
     color: #212529;
     border-radius: 2px;
     font-size: 14px;
}
 .events-list, .day-info-text {
     height: 300px;
     overflow: auto;
}
 .day-info-text {
     overflow-wrap: break-word;
     word-wrap: break-word;
     hyphens: auto;
}
 .external-event-title > p, .day-info-title > p {
     color: #212529;
     text-align: center;
     font-size: larger;
}
 .draggable-element {
     margin: 1em 0;
     cursor: move;
     border: 1px solid #ccc;
     background: #3788d8;
     overflow: hidden;
}
 .no-close .ui-dialog-titlebar-close {
     display: none;
}
 .fc-event-container {
     cursor: pointer;
}
.fc-event:hover {
    background: #225587;
}
.update-comments-button:hover {
    background: #225587;
}
.update-comments-button {
    display: flex;
    float: left;
    background: #3788d8;
    margin-left: 0;
    margin-right: auto;
}
.delete-event-button {
    display: flex;
    float: right;
    background: #9a0000;
    margin-left: auto;
    margin-right: 0;
}
.delete-event-button:hover {
    background: #5f0000;
}
.info-buttons {
    width: 100%;
}
#info-comments {
    width: 100%;
}
.subordinates-list {
    margin-top: 4em;
    background: rgba(55, 136, 216, 0.41);
    padding: 7px;
}
.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0px;
    padding: 1.5em;
    background-image: linear-gradient(to bottom, rgba(55, 136, 216, 0.35), rgba(55, 136, 216, 0.00));
    border: 1px solid #ccc;
    border-radius: 2px;
    border-bottom: 0px;
}
.fc-button-primary {
    color: #fff;
    background-color: #3788d8;
    border-color: transparent;
}
.fc-button-primary:hover {
    color: #fff;
    background-color: #225587;
}
.fc-button-primary:disabled {
    color: #fff;
    background-color: #527ba3;
    border-color: white;
}
.fc-button-primary:disabled:hover {
    background-color: #32485e;
}