
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EducationSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row mx-auto">
            <div class="col-lg-8 col-sm-6"></div>
            <div class="col-lg-3 col-sm-6 my-5">
                <div class="card card-signin my-5">
                    <div class="card-body ">
                        <h5 class="card-title text-center">Sign In</h5>
                        <form class="form-signin" action="/Authentification/LoginUser" method="post">
                            <div class="form-label-group">
                                <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus autocomplete="off">
                            </div>
                            <div class="form-label-group">
                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required autocomplete="off"> <label for="inputPassword"></label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" asp-controller="Register" 
                                    onclick="location.href='@Url.Action("Register","Authentification")'">Register</button>
                            <hr class="my-4"><button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
