@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EducationSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Register.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row mx-auto">
            <div class="col-lg-8 col-sm-6"></div>
            <div class="col-lg-3 col-sm-6 my-5">
                <div class="card card-signin my-5">
                    <div class="card-body ">
                        <h5 class="card-title text-center">Sign In</h5>
                        <form class="form-signin" action="/Authentification/RegisterUser" method="post">
                            <div class="form-label-group">
                                <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Username" required autofocus autocomplete="off">
                            </div>
                            <div class="form-label-group">
                                <input type="text" id="inputEmail" name="firstName" class="form-control" placeholder="First Name" required autofocus autocomplete="off">
                            </div>
                            <div class="form-label-group">
                                <input type="text" id="inputEmail" name="lastName" class="form-control" placeholder="Last Name" required autofocus autocomplete="off">
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required> <label for="inputPassword"></label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="inputPassword" name="repeatedPassword" class="form-control" placeholder="Repeat Password" required> <label for="inputPassword"></label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                    onclick="location.href='@Url.Action("Index","Authentification")'">
                                Sign In
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>