
@{
    ViewData["Title"] = "Tree";
}

<h1>Tree</h1>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['wordtree'] });
        google.charts.setOnLoadCallback(drawChart);


        function drawChart() {

            var topicId =@Html.Raw(Model.Id);
            $.ajax({
                type: "GET",
                url: "/Topics/AjaxMethod",
                data: { Id: topicId },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {


                    console.log(JSON.stringify(r));

                    var data = google.visualization.arrayToDataTable(r);

                    var options = {
                        wordtree: {
                            format: 'implicit',
                            word: @Html.Raw(Model.Id)
                        }
                    };

                    var chart = new google.visualization.WordTree(document.getElementById('wordtree_basic'));
                    chart.draw(data, options);




                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });


        }
    </script>
</head>
<body>
    <div id="wordtree_basic" style="width: 900px; height: 500px;"></div>
</body>
</html>