@model EducationSystem.Models.Worker

@{
    ViewData["Title"] = "Restriction";
}

<h1>Add Restrictions</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddRestrictionPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Restriction.MaxConsecutiveDays" class="control-label"></label>
                <input asp-for="Restriction.MaxConsecutiveDays" class="form-control" />
                <span asp-validation-for="Restriction.MaxConsecutiveDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restriction.MaxPerMonth" class="control-label"></label>
                <input asp-for="Restriction.MaxPerMonth" class="form-control" />
                <span asp-validation-for="Restriction.MaxPerMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restriction.MaxPerQuarter" class="control-label"></label>
                <input asp-for="Restriction.MaxPerQuarter" class="form-control" />
                <span asp-validation-for="Restriction.MaxPerQuarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restriction.MaxPerYear" class="control-label"></label>
                <input asp-for="Restriction.MaxPerYear" class="form-control" />
                <span asp-validation-for="Restriction.MaxPerYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

