@model EducationSystem.Models.Team

@{
    ViewData["Title"] = "Create";
}
<head>
    <link href='~/css/EducationSystem.css' rel='stylesheet' />
</head>
<h4>Create new team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamName" class="control-label">Name</label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Team manager</label>
                <select asp-for="WorkerId" class ="form-control" asp-items="ViewBag.WorkerId"></select>
            </div>
            <div class="form-group">
                <input class="add-new-button btn btn-light" type="submit" value="Create" />
                <a class="edu-system-button btn btn-light" asp-action="Index">Back to list</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
