@inject SignInManager<ApplicationUser> SignInManager
@{
}

    <div class="list-group">
        <a class="list-group-item list-group-item-action @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a>
        <a class="list-group-item list-group-item-action @ManageNavPages.UsernameNavClass(ViewContext)" id="username" asp-page="./Username">Change Username</a>
        <a class="list-group-item list-group-item-action @ManageNavPages.EmailNavClass(ViewContext)" id="change-email" asp-page="./Email">Change Email</a>
        <a class="list-group-item list-group-item-action @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Change Password</a>
    </div>