@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset='utf-8' />

    <link href='~/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='~/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    <link href='~/css/calendarView.css' rel='stylesheet' />

    <script src='~/fullcalendar/packages/core/main.js'></script>
    <script src='~/fullcalendar/packages/interaction/main.js'></script>
    <script src='~/fullcalendar/packages/daygrid/main.js'></script>
    <script src='~/fullcalendar/packages/moment/main.js'></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {

            var Calendar = FullCalendar.Calendar;
            var Draggable = FullCalendarInteraction.Draggable;

            var calendarEl = document.getElementById('calendar');
            var draggableEl = document.getElementById('external-events');

            new Draggable(draggableEl, {
                itemSelector: '.draggable-element',
                eventData: function (eventEl) {
                    return {
                        title: eventEl.innerText
                    };
                }
            });

            var calendar = new Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid'],
                events: '/Calendar/GetLearningDays',
                selectable: true,
                droppable: true,
                eventLimit: true,
                displayEventTime: false,
                drop: function (info) {
                    info.draggedEl.parentNode.removeChild(info.draggedEl);
                    var event = dragged[1];
                    var answer = confirm("Assign learning day?")
                    if (answer) {
                        $.ajax({
                            url: '/Calendar/CreateLearningDay?topicId=' + event.id,
                            dataType: 'json',
                            async: false
                        });
                    }
                },
                select: function (start) {
                    var title = prompt("Topic:");
                    var eventData;
                    if (title) {
                        eventData = {
                            title: title,
                            start: start,
                            allDay: true
                        };
                        calendar.addEvent(eventData);
                    }
                }
            });

            calendar.render();
        });
    </script>
</head>

<body>

    <h1>Education calendar</h1>
    <div id="external-events">
        <p>
            <strong>Suggested topics (goals)</strong>
        </p>
        @{
            var suggestedTopics = ViewBag.SuggestedTopics as ICollection<EducationSystem.Views.ViewModels.EventViewModel>;
            foreach (var item in suggestedTopics)
            {
                <div class="draggable-element">@item.Title</div>
            }
        }
    </div>
    <div id='calendar'></div>
</body>

