
@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset='utf-8' />

    <link href='~/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='~/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />

    <script src='~/fullcalendar/packages/core/main.js'></script>
    <script src='~/fullcalendar/packages/daygrid/main.js'></script>

    <script>

    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid' ]
    });

    calendar.render();
    });

    </script>
</head>

<body>

    <h1>Education calendar</h1>

    <div id='calendar'></div>

</body>

