@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset='utf-8' />

    <link href='~/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='~/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    <link href='~/css/calendarView.css' rel='stylesheet' />

    <script src='~/fullcalendar/packages/core/main.js'></script>
    <script src='~/fullcalendar/packages/interaction/main.js'></script>
    <script src='~/fullcalendar/packages/daygrid/main.js'></script>
    <script src='~/fullcalendar/packages/moment/main.js'></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {

            var Calendar = FullCalendar.Calendar;
            var Draggable = FullCalendarInteraction.Draggable;
            const regexId = /\[\d*\]/gm;
            const regexIdNumber = /\d/gm;

            var calendarEl = document.getElementById('calendar');
            var draggableEl = document.getElementById('external-events');

            new Draggable(draggableEl, {
                itemSelector: '.draggable-element',
                eventData: function (eventEl) {
                    return {
                        title: eventEl.innerText
                    };
                }
            });

            var calendar = new Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid'],
                events: '/Calendar/GetLearningDays',
                timeZone: 'UTC',
                selectable: true,
                droppable: true,
                eventLimit: true,
                displayEventTime: false,
                drop: function (info) {
                    var eventId = info.draggedEl.getAttribute("eventId");
                    var answer = confirm("Assign new learning day on selected time slot?");
                    if (answer) {
                        var data0 = { Id: parseInt(eventId), Title: info.draggedEl.innerText, Start: info.date };
                        var json = JSON.stringify(data0);
                        $.ajax({
                            type: "POST",
                            url: '/Calendar/CreateLearningDay',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: json,
                            success: function (results, responseText) {
                                console.log("success : " + responseText);
                                location.reload();
                                return;
                            },
                            error: function (status, error) {
                                console.log("error : " + status + error);
                                info.revert();
                                return;
                            }
                        }).done(function (results) {
                            console.log("done : " + results);
                        });
                    } else {
                        info.revert();
                        return;
                    }
                },
                select: function (start) { // TO-DO: Add new topic
                    var title = prompt("Topic:");
                    var eventData;
                    if (title) {
                        eventData = {
                            title: title,
                            start: start,
                            allDay: true
                        };
                        calendar.addEvent(eventData);
                    }
                }
            });

            function parseToId (title) {
                var parsedString = regexId.exec(title);
                var temp = parsedString.toString();
                var parsedNumber = regexIdNumber.exec(temp);
                return parsedNumber;
            }
            calendar.render();
        });
    </script>
</head>

<body>

    <h1>Education calendar</h1>
    <div id="external-events">
        <p>
            <strong>Suggested topics (goals)</strong>
        </p>
        @{
            var suggestedTopics = ViewBag.SuggestedTopics as ICollection<EducationSystem.Views.ViewModels.EventViewModel>;
            foreach (var item in suggestedTopics)
            {
                <div class="draggable-element" eventId="@item.Id">@item.Title</div>
            }
        }
    </div>
    <div id='calendar'></div>
</body>

